---
layout: archive
title: "dolomites"
permalink: /software/
author_profile: false
---

{% include base_path %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<p>
  an open science project that includes:
  <ul>
 <li>an open source software package for the analysis and design of electric machines and drives</li>
 <li>an open hardware small-scale test bench for electric drives</li>
</ul>
  The main modules of dolomites are described below. The repository of the project
is available at the following page:
<a href='https://gitlab.com/LuigiAlberti/dolomites-python'>dolomites</a>
</p>

{% for post in site.software reversed %}
  {% include archive-single.html %}
{% endfor %}
