---
layout: archive
title: "dolomites"
permalink: /software/
author_profile: false
---

{% include base_path %}

<p>
  an open science project that includes:
  <ul>
 <li>an open source software package for the analysis and design of electric machines and drives</li>
 <li>an open hardware small-scale test bench for electric drives</li>
</ul>
  The main module of dolomites are described below. The repository of the project
is available at the following page:
<a href='https://gitlab.com/LuigiAlberti/dolomites-python'>dolomites</a>
</p>

{% for post in site.software reversed %}
  {% include archive-single.html %}
{% endfor %}
